<!DOCTYPE HTML>
<html ng-app="myApp" ng-controller="profileController">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="icon" type="image/png" href="images/splash/android-chrome-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" sizes="196x196" href="images/splash/apple-touch-icon-196x196.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/splash/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/splash/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/splash/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/splash/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/splash/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/splash/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/splash/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/splash/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="57x57" href="images/splash/apple-touch-icon-57x57.png">
  <link rel="icon" type="image/png" href="images/splash/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/splash/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/splash/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="images/splash/favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

  <title>Epsilon 7.0</title>
<toaster-container toaster-option="{'close-button':true}"></toaster-container>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="styles/skin.css">
  <link rel="stylesheet" type="text/css" href="styles/framework.css">
  <link rel="stylesheet" type="text/css" href="styles/font-awesome.css">
<link rel="stylesheet" type="text/css" href="styles/toaster.min.css">
  <script type="text/javascript" src="scripts/jquery.js"></script>
<!--  <script type="text/javascript" src="js/components.js"></script>-->
  <script src="js/angular.min.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/toaster.min.js"></script>
  <script src="js/ngStorage.min.js"></script>
  <script src="js/notify.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/pageapp-profile.js"></script>

  <script type="text/javascript" src="scripts/plugins.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>

  <style>
    .activity-item strong {
      float: left;
    }

    .activity-item em {
      float: left;
      margin-left: 10px;
      width: 50%;
    }

    em input {
      vertical-align: middle;
      line-height: 55px;
      margin: 6px;
      border: none !important;
    }

    .profile-update-btn {
      margin: 5px 10px !important;
      width: 44% !important;
    }
  </style>
</head>


<body>
<div class="pageLoader" ng-show="loader === true"></div>
  <div id="page-transitions">
      <div class="header header-light header-full">
                <a href="#" class="header-icon header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a>
                <a href="" class="header-logo scale-hover"></a>
                <a href="#" class="header-icon header-icon-4 open-right-sidebar"><i class="fa fa-envelope-o"></i></a>
            </div>
<!--    <div class="page-preloader page-preloader-dark">
      <div class="loader loader-frames"><i></i><i></i><i></i><i></i></div>
    </div>-->

<!--    <div id="component-header" class="header header-transparent"></div>-->
    <div id="page-content" class="page-content header-clear bg bg-cover bg-transparent">
      <div class="bg-white"></div>
      <div id="page-content-scroll">

        <div class="heading-strip bg-black">
          <h3>My Profile</h3>
          <div class="overlay dark-overlay"></div>
        </div>
        <div class="decoration decoration-margins"></div>

        <div class="content material-full-top full-top">
          <div class="activity-page">

            <div class="activity-item one-half-responsive">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>First Name: </strong>
              <strong><input type="text" ng-model="user.first_name" /></strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive last-column">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Last Name: </strong>
              <strong><input type="text"  ng-model="user.last_name">  </strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Date of Birth: </strong>
              <strong><input type="text" ng-model="user.dob" value="" /></strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive last-column">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>NRIC/ID: </strong>
              <strong><input type="text" ng-model="user.nric" value="" /> </strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Email: </strong>
              <strong><input type="text"   ng-model="user.email" value="" /></strong>
            </div>
            <div class="clear"></div>


            <div class="activity-item one-half-responsive">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Mobile: </strong>
              <strong><input type="text" ng-model="user.mobile_number" value="" /></strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive last-column">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Address: </strong>
              <strong><input type="text" ng-model="user.address_1" value="" /></strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive last-column">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>City: </strong>
              <strong><input type="text" ng-model="user.city" value=""/></strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive last-column">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Country: </strong>
              <strong><input type="text" ng-model="user.country" value="" /></strong>
            </div>
            <div class="clear"></div>

            <div class="activity-item one-half-responsive">
              <i class="fa fa-circle color-blue-dark"></i>
              <strong>Postcode: </strong>
              <strong><input type="text"  ng-model="user.postcode" value="" /></strong>
            </div>
            <div class="clear"></div>


            <div class="activity-item one-half-responsive">
                
              <button class="profile-update-btn"><input type="submit" ng-click="ProfileUpdate(user)" class="buttonWrap button button-green contactSubmitButton"/></button>
              <button class="profile-update-btn"><input type="submit" onclick="redirectToPage('pageapp-update-password.html')" class="buttonWrap button button-green contactSubmitButton" value="Change Password"/></button>
            </div>
            <div class="clear"></div>

          </div>
        </div>

        <div class="decoration decoration-margins"></div>

      </div>
    </div>
<div class="sidebar-left sidebar-light">
                <div class="sidebar-scroll">
                    <div class="sidebar-header sidebar-header-background">
                        <h1>Materialise</h1>
                        <h2>Material at it's finest</h2>
                        <img class="sidebar-logo-image preload-image" data-original="images/preload-logo.png">
                        <div class="sidebar-header-controls">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-phone"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="close-sidebar"><i class="fa fa-times"></i></a>
                        </div>
                    </div>        
                    <div class="sidebar-divider">Navigation</div>
                    <div class="sidebar-menu"> 
                        <!--                    <a class="menu-item">
                                                <i class="bg-green-dark fa fa-star-o"></i>Welcome<i class="fa fa-circle"></i> 
                                            </a> -->
                        <div class="has-submenu">
                            <!--                        <a class="menu-item " href="home.html">
                                                        <i class="bg-green-dark fa fa-home"></i>Home<i class="fa fa-circle"></i> 
                                                    </a>-->
                            <div class="menu-item " ng-click="home()"><!-- active-item -->
                                <i class="bg-red-dark fa fa-question-circle"></i>Home<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item " ng-click="faq()"><!-- active-item -->
                                <i class="bg-green-dark fa fa-question-circle"></i>Faq<i class="fa fa-circle"></i>
                            </div>
                             <div class="menu-item " ng-click="about()"><!-- active-item -->
                                <i class="bg-blue-dark fa fa-question-circle"></i>About<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item" ng-click="profile()"><!-- active-item -->
                                <i class="bg-magenta-dark fa fa-user"></i>Profile<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item" ng-click="changePassword()"><!-- active-item -->
                                <i class="bg-orange-dark fa fa-key"></i>Change Password<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item" ng-click="contact()"><!-- active-item -->
                                <i class="bg-yellow-dark fa fa-phone"></i>Contact<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item" ng-click="question()"><!-- active-item -->
                                <i class="bg-teal-dark fa fa-question-circle"></i>Question<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item" ng-click="product()"><!-- active-item -->
                                <i class="bg-night-dark fa fa-shopping-bag"></i>Product<i class="fa fa-circle"></i>
                            </div>
                             <div class="menu-item" ng-click="appointment()"><!-- active-item -->
                                <i class="bg-red-dark fa fa-calendar"></i>Your Appointment<i class="fa fa-circle"></i>
                            </div>
                             <div class="menu-item" ng-click="invoice()"><!-- active-item -->
                                <i class="bg-blue-dark fa fa-file-code-o"></i>Invoice<i class="fa fa-circle"></i>
                            </div>
                            <div class="menu-item" ng-click="logout()"><!-- active-item -->
                                <i class="bg-green-dark fa fa-sign-out"></i>SignOut<i class="fa fa-circle"></i>
                            </div>
                        </div>
                    </div>    
                    <div class="sidebar-divider no-bottom">Copyright <span id="copyright-year-sidebar"></span>. All rights Reserved</div>
                </div>
            </div>
   <div class="footer-menu-controls light-footer-menu">
         <div ng-click="rederect()" class="footer-menu-open">
        <i class="fa fa-arrow-left bg-red-dark"></i>
    </div>
    </div>

    <div id="component-sidebar"></div>
    <div class="sidebar-tap-close"></div>
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to Top</a>

  </div>
</body>
</html>